.navbar {
  background: #101013;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 20px;
}
.nav-logo {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #fdfdfd;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none
}
.nav-links li {
  display: flex;
  align-items: center;
}
.nav-links li button {
  display: flex;
  align-items: center;
  color:white;
  font-size: 1.2rem;
  background-color: #101013;
  border: none;
  font-weight: bold;
 
}
.nav-links a {
  color: #fff;
  font-size: 1rem;
  transition: color 0.2s;
  gap:2rem;
 
}
.nav-links a.active,
.nav-links a:hover {
  color: #a259ff;
}
.nav-icons a {
  font-size: 2rem;
  margin-right: 0.5rem;
}
.nav-btn {
  margin-left: 1rem;
  padding: 1rem 1.25rem;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  font-weight: bold;
  transition: all 0.2s;
  font-size: 1rem;
}
.nav-btn:hover {
  background: #a259ff;
  border-color: #a259ff;
  color: #fff;
}
@media (max-width: 900px) {
  .nav-links {
    gap: 1rem;
  }
  .navbar {
    padding: 0 0.7rem;
  }
}
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .nav-btn {
    margin-left: 0;
  }
}